@font-face {
  font-family: "iconfont"; /* Project id 4761321 */
  src: url('iconfont.woff2?t=1732675753998') format('woff2'),
       url('iconfont.woff?t=1732675753998') format('woff'),
       url('iconfont.ttf?t=1732675753998') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-bianji:before {
  content: "\e603";
}

.icon-chakanbohuiyuanyin:before {
  content: "\e605";
}

.icon-bianjixinxibiao:before {
  content: "\e606";
}

.icon-fabu:before {
  content: "\e607";
}

.icon-caozuojilu:before {
  content: "\e608";
}

.icon-peizhidianhao:before {
  content: "\e609";
}

.icon-guanbi:before {
  content: "\e60a";
}

.icon-gouxuan:before {
  content: "\e60b";
}

.icon-shuaxin:before {
  content: "\e60c";
}

.icon-a-shenpifushen:before {
  content: "\e60d";
}

.icon-sousuo1:before {
  content: "\e60e";
}

.icon-xiala:before {
  content: "\e60f";
}

.icon-faqibianzhi:before {
  content: "\e610";
}

.icon-xiugai:before {
  content: "\e611";
}

.icon-yulan:before {
  content: "\e612";
}

.icon-xinzengtupian:before {
  content: "\e613";
}

.icon-xinzeng:before {
  content: "\e614";
}

